@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.container{
    font-family: arial;
    z-index: -1;
}

.outer-top-container{
    display:flex;
    justify-content: center;
    position: relative;
    text-align: center;
}
.logo {
    position: absolute;
    font-size: 20px;
    line-height: 60px;
    font-weight: 600;
    border-bottom: 3px solid transparent;
    margin-top:-8px;
    margin-right:100px;
    color: #5f5d5d;
}

.top-text{
    margin-top:-19px;
    font-weight: 550;
}

.feedback-top-text{
    font-weight: 550;
    color: black;
    font-size: 24px;
    padding: 12px 0px;

}

.form-container{
    margin: auto;
    /* margin-top:1px; */
    margin-top:-20px;
    width: 60%;
    border: 2px solid  #f2f2f2; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    font-weight: 550;
}


.inner-top{
    background-color: #f2f2f2;
    /* display: flex; */
    justify-content: center;
    text-align: center;
    margin-top:-25px;
}

.form-content{
    margin:0px 35px;
    margin-top:-20px;
    /* padding:0px 10px; */
}

input[type=text], select, textarea ,#selectid{
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical;
    color: #fe7c00;
    outline: none ! important;
    border-color:1 px #fe7c00 ; 
    text-align: left; 
  }

  textarea:focus-within { 
    outline: none !important;
    border-color:#fe7c00 ; 
}
  

input:focus-within {
    outline: none ! important;
    border-color:1 px #fe7c00; 
} 

#selectid:focus-within {
    outline: none ! important;
    border-color:#fe7c00 ; 
} 

table {
width: 100%;
}

th {
height: 70px;
width:100px;
font-weight: 550;
}

td{
    height: 70px;
    width:97px !important;
    text-align:center;
    background-color:#f2f2f2;
}


.radio-btn{
    width:105px !important;
    justify-content: center;
    align-items: center;
}
.ques{
    width:150px !important;
    height:25px;
    background-color:transparent;
    font-weight: 550;

}

.rating{
    border-spacing: 10px;
}

.submit-feedback{
    height: 40px;
    width: 110px;
    background: #fe7c00;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius:5px;
    color: #fff;
    font-size: 18px;
}


input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #fff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid  #fe7c00;
}

input[type='radio']:checked:after {
    width: 12px;
    height: 12px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #fe7c00;
    content: '';
    display: inline-block;
    visibility: visible;
    border:  4px solid  #fff  !important;
    box-shadow: 0 0 3px #fe7c00;
}

.submit{
    display:flex;
    justify-content: center;
}

.text-area{
    height: 60px;
}

/* toaster */
    .isa_success, .isa_error {
    margin: 0px 0px;
    padding:2px;
    border-radius:10px;
    box-shadow: 0 1px 10px 0px rgba(0, 116, 163, 0.16);
    z-index: 100;
    position: absolute;
    top: 23px;
    right: 28px;    
    font-size: 15px;
    white-space: nowrap;
    font-family: arial; 
    }
    .isa_success {
        color: #4F8A10;
        box-shadow: 0 1px 10px 0px  #DFF2BF;
        border: 1px solid  #DFF2BF;
        border-left: 5px solid #4F8A10;
        background-color: #f2f2f2;
    }
    .isa_error {
        color: #D8000C;
        border: 1px solid #FFD2D2;
        border-left: 5px solid #D8000C;
        box-shadow: 0 1px 10px 0px  #FFD2D2;
        background-color: #f2f2f2;
    }
    .isa_success i, .isa_error i {
        margin:10px 22px;
        font-size:2em;
        vertical-align:middle;
    }

    .toaster-close_bar{
        background-color:transparent;
        border:none;
        color:black;
        font-weight: 400;
        font-size:20px;
        cursor: pointer;
    }


.validation{
    font-size: 12px;
    font-weight: 500;
    line-height: 1.4;
    color:red;
    padding-left: 30px;
}

#Recommendation-validation{
    margin-top:-5px;
     margin-bottom: 12px;
}

#userEmail{ 
    padding-right: 5px;
    margin-bottom: 0;
    color: #5f5d5d;
    padding-bottom: 4px !important;
}

#RadioQues-validation{
    margin-bottom:10px;
}



/*  Custom Dropdown CSS */
#selectid{
    cursor: pointer;
    background-color: transparent;
}


#dropdownList{
    position: absolute;
    font-size: 15px;
    font-family: arial;
}

.arrow {
    border: solid #fe7c00;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    float: right;
    margin-top:-40px;
    margin-right:20px;
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }



  #dropdownList ul {
    padding: 1;
    /* min-width: 124px;*/
    margin-top: -17px; 
    list-style-type: none;
    background: white;
    border-radius: 4px;
    box-shadow: 0 1px 10px 0px rgba(0, 0, 0, 0.08);
    position: absolute;
    /* right: -1px; */
    z-index: 9;
    overflow: hidden;
    border: 1px;
}
#dropdownList li {
    padding: 0.3rem 23rem;
    display: flex;
    justify-content: left;
    background-color:transparent;
    align-items: left;
}

#dropdownList li:hover {
    cursor: pointer;
    background-color: #f2f2f2 !important;
}
